@charset "utf-8";
/* CSS Document */
body{
	
 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}



select {
	      position:relative;
          top:.5rem;
	      float:right;
		  background:none;
		  color:#fff;
	      font-weight:bold;
		  border:none;

	}
	


select option {
	      background:none;
		  color:#ff85d2;
	      font-weight:bold;
		  border:none;	
	      cursor:help; 
	
	}


select:focus {
	      background:none;
	      cursor:help;
          outline: none;
}



nav{
	position:relative;
    top:1rem;
	width:windowWidth;
    float:left;
	
	}
	
nav li{
	display:block;
	background:url('lib/pic/me03.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:2rem;
	transition-property:background-img;
    float:left;
	}
nav li:hover{
	background:url('lib/pic/me04.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:3rem;
}	

nav li a{
	width:100%;
	height:100%;
	display:block;
	text-decoration: none;
	color:#fff;
	font-weight:bold;
	cursor:help;
	}

nav li a:hover{
	color:#fff;
   text-decoration:underline;
	}	

	

	
	
div{
	position:fixed;
	top:9rem;
	left:2rem;
	right: 2rem;
	display:block;
	text-decoration: none;
	font-size:1.2rem;
	color:#fff;
	font-weight:bold;
	}