@charset "utf-8";
/* CSS Document */
body{
	
 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}


button{
position: relative;
background:none;
border: none;
float: right;
top: .8rem;
}

button:hover{
	border: none;
	background: none;
	padding-top: .3rem;
}

button:focus{
	border: none;
	background-color:#3F98F3;
	padding-top: .3rem;
	outline: none;
	border-radius:50%
}

#it,#zh,#en{
	position: relative;
   right: .5rem;
}



nav{
	position:relative;
    top:1rem;
	width:windowWidth;
    float:left;
	
	}
	
nav li{
	display:block;
	background:url('lib/pic/me03.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:2rem;
	transition-property:background-img;
    float:left;
	}
nav li:hover{
	background:url('lib/pic/me04.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:3rem;
}	

nav li a{
	width:100%;
	height:100%;
	display:block;
	text-decoration: none;
	color:#fff;
	cursor:help;
	}

nav li a:hover{
	color:#fff;
   text-decoration:underline;
	}	

	

	
	
div{
	position:fixed;
	top:9rem;
	left:2rem;
	right: 2rem;
	display:block;
	text-decoration: none;
	font-size:1.2rem;
	color:#fff;
	}