@charset "utf-8";
/* CSS Document */
body{
 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
 background-color:#99CCFF;
}

button{
position: relative;
background:none;
border: none;
float: right;
top: 10px;
right: 10px;
z-index: 999;
width: 30px;

}

button:hover{
	border: none;
	background: none;
	padding-top: 5px;

}

button:focus,button:active{
	border: none;
	background-color:#3F98F3;
	padding-top: 5px;
	outline: none;
	border-radius:50%;

}




nav{
	position:relative;
    top:10px;
	width:windowWidth;
    float:left;

	}

nav li{
	display:block;
	background:url('lib/pic/me03.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:20px;
	transition-property:background-img;
    float:left;
	}
nav li:hover{
	background:url('lib/pic/me04.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:30px;
}

nav li a{
	width:100%;
	height:100%;
	display:block;
	text-decoration: none;
	color:#fff;
	cursor:help;
	}

nav li a:hover{
	color:#fff;
   text-decoration:underline;
	}





div{
	position:absolute;
	top:90px;
	left:60px;
	right: 60px;
	display:block;
	text-decoration: none;
	font-size:25px;
	color:#fff;
	line-height: 35px;
	}
#click{
	font-size: 70px;
	line-height:50px;
}

	@media (max-width: 930px) {
		body{
}
div{
	position:absolute;
	top:90px;
	left:20px;
	right: 20px;
	display:block;
	text-decoration: none;
	font-size:20px;
	color:#fff;
	line-height: 30px;
	}

#click{
	font-size: 35px;
	line-height:45px;
}
	}